


<%= simple_form_for @pin, html: { multipart: true, data: {remote: true, type: :json} } do |f| %>
  <% if @pin.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@pin.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <%= f.input :images, label: false, input_html: {type: :file,
                                                       name: 'image',
                                                       class: 'form-control file_input',
                                                       multiple: true,
                                                       id: "images_upload" },
																					data: { method: current_page?(action: 'new') ? "post" : "put" }%>
      </span>
    <h4>Preview</h4>
    <div id="images"></div>
  </div>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>
	<div class="form-group">
		<%= f.input :address,   input_html: { class: 'form-control', id: "address", placeholder: "Enter a location"} %>
		<%= f.input :latitude,  label: false, input_html: { type: "hidden", class: 'form-control' } %>
		<%= f.input :longitude, label: false, input_html: { type: "hidden",class: 'form-control' } %>

	</div>

	<div id="map-canvas" data-longtitude="<%= @pin.longitude %>" data-latitude="<%= @pin.latitude %>"  style="width:500px; height:300px"></div>

  <div class="form-group">
    <%= f.input :price, input_html: { class: 'form-control' } %>
  </div>


  <%= f.button :submit, class: "btn btn-primary", id: "submit_pin"  %>
<% end %>
