<div class="transitions-enabled" id="pins">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag pin.preview), pin %>
      <h2>
        <%= link_to pin.title, pin %>
      </h2>
      <p class="user">
        Submitted by
        <%= pin.user.name %>
      </p>
      <div class="row">
        <div class="col-md-6 col-xs-6"><span class="comments_count glyphicon glyphicon-comment"></span><%= pin.thread.comments.size %></div>
        <div class="col-md-6 col-xs-6">
          <%= link_to like_pin_path(pin), method: :put, class: "btn btn-link" do %>
            <span class="glyphicon glyphicon-heart"></span>
            <%= pin.get_upvotes.size %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
