<hr>

<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <% @pin.images.each do |picture| %>
        <div class="panel-heading pin_image">
          <%= image_tag picture.preview %>
        </div>
      <% end %>
      <div class="panel-body">
        <div class="btn-group pull-right">
          <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-heart"></span>
            <%= @pin.get_upvotes.size %>
          <% end %>
          <% if @pin.user == current_user %>
            <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
            <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
          <% end %>
        </div>
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
        <p>
          <%= @pin.tag %>
        </p>
        <p class="description price">
          Price: ¥<%= @pin.price %>
        </p>
        <p class="description">
          <%= @pin.address %>
        </p>


        <div id="map-canvas" data-longtitude="<%= @pin.longitude %>" data-latitude="<%= @pin.latitude %>" style="width:500px; height:300px"></div>


        
        <hr>
        <p class="user">
          Submitted by
          <%= @pin.user.name %>
        </p>
        <div class="comments">
          <%= commontator_thread(@pin) %>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
